# vim: syntax=sh

# aliases
alias startall='startx; vlock -c'
alias l='ls -l $lsopt'
alias ll='ls -1hrt $lsopt'
alias lll='ls -al $lsopt'
alias lt='tree'
alias nstat='netstat -nlop'
alias tstat='netstat -ntlop'
alias grep='grep --color=auto'
# get public IP
alias pubip='dig myip.opendns.com @resolver1.opendns.com +short'
#https://github.com/jessfraz/dotfiles/blob/master/.aliases
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias copy='xclip -selection clipboard'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias gp='git push'
alias gc='git commit'
alias gpl='git pull'
alias ga='git add'
alias gl='git log --show-signature --graph --decorate --color=auto'
alias gr='git reset'
alias gconf='git config --global --list'
function gs() {
  git status
}

# send snippets to http://sprunge.us
function sprunge() {
  local link
  local output
  local fe_link
  local fe=${@##*\.}
  local yank='xclip -selection clipboard'
  local text_uri='Link address'
  local text_enoent='No such file'
  local text_wrong_args='Exactly one argument please'
  local text_succ_msg='has been copied to the clipboard'
  if ! [[ -t 0 ]]; then
    output=$(
      while read -r chunk; do
        echo ${chunk}
      done <<(curl -sF 'sprunge=<-' 'http://sprunge.us')
    )
    echo ${text_uri}' '${output}' '${text_succ_msg}
    echo ${output} | eval ${yank}
  elif [ ${#} -eq 1 ] && [ -f ${@} ]; then
    if ! [ "${fe}" = "${@}" ] && ! [ -z ${fe} ]; then
      fe_link="?${fe}"
    fi
    output=$(cat $@ | curl -sF 'sprunge=<-' 'http://sprunge.us')
    link=${output}${fe_link}
    echo ${text_uri}' '${link}' '${text_succ_msg}
    echo ${link} | eval ${yank}
  else
   if [ ${#} -ne 1 ]; then echo ${text_wrong_args};return 1;fi;
   echo ${text_enoent};return 0
  fi
}
