# vim: syntax=sh

# aliases
alias startall='startx; vlock -c'
alias l='ls -l $lsopt'
alias ll='ls -1hrt $lsopt'
alias lll='ls -al $lsopt'
alias lt='tree'
alias ltt='tree -L 2'
alias nstat='netstat -nlop'
alias tstat='netstat -ntlop'
alias grep='grep --color=auto'
# get public IP
alias pubip='dig myip.opendns.com @resolver1.opendns.com +short'
#https://github.com/jessfraz/dotfiles/blob/master/.aliases
alias timer='echo "Timer started. Stop with Ctrl-D." && date && time cat && date'
alias copy='xclip -selection clipboard'
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias gp='git push'
alias gc='git commit'
alias gpl='git pull'
alias ga='git add'
alias gl='git log --show-signature --graph --decorate --color=auto'
alias gr='git reset'
alias gd='git diff'
alias gconf='git config --global --list'
