/*
*.s[uvw][a-z]
!.gitconfig
!.gitignore
!.vifm
.vifm/vifminfo
!.zshrc
!.zsh_aliases
.zsh_aliases/**/*.mypy_cache
!.vim
.vim/plugs
.vim/.tmp
.vim/view
.vim/sessions
.vim/.netrwhist
!.eslintrc.json
!.muttrc
!.dircolors
!.Brewfile
!.editorconfig
!.package.json
