*.sw*
/*
!.zshrc
!.aliases
!.alias_functions
!.alias_dockerized
!.alias_env
!.dircolors
!.gtkrc-2.0
!.gtkrc-2.0.mine
!.gitignore
!.gitmodules
!.config/
!.gnupg/
.gnupg/*
!.gnupg/gpg-agent.conf
.config/*
!.config/mc
.config/mc/ini
!.vim/
.vim/sessions
.vim/.VimballRecord
.vim/.netrwhist
